[buildout]
develop =
    mutwo.ext-dfc22
    dfc22
parts =
    make-letters
    print-terminals

[dfc22-base]
recipe = zc.recipe.egg
eggs =
    mutwo.ext-dfc22
    dfc22
interpreter = python-dfc22

[make-letters]
<= dfc22-base
entry-points = ${:_buildout_section_name_}=dfc22.trees:main

[print-terminals]
<= dfc22-base
entry-points = ${:_buildout_section_name_}=__main__:main
initialization =
    def main():
        from mutwo import dfc22_events
        from mutwo import dfc22_parameters
        from mutwo import zimmermann_generators
        print(dfc22_events.constants.DEFAULT_CONSONANT_TO_JUST_INTONATION_PITCH_DICT)
        print(len(dfc22_parameters.constants.VOWEL_TUPLE))
        print(len(dfc22_parameters.constants.CONSONANT_TUPLE))
        print(dfc22_events.constants.DEFAULT_PITCH_BASED_CONTEXT_FREE_GRAMMAR.non_terminal_tuple)
        print(dfc22_events.constants.DEFAULT_PITCH_BASED_CONTEXT_FREE_GRAMMAR.terminal_tuple)
        print(len(dfc22_events.constants.DEFAULT_PITCH_BASED_CONTEXT_FREE_GRAMMAR.non_terminal_tuple) + len(dfc22_events.constants.DEFAULT_PITCH_BASED_CONTEXT_FREE_GRAMMAR.terminal_tuple))
        # dfc22_events.constants.DEFAULT_PITCH_BASED_CONTEXT_FREE_GRAMMAR.resolve(
        #             zimmermann_generators.JustIntonationPitchNonTerminal('9/7'), limit=3
        # ).show()
